<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>找回密码</title>
    <link href="/spms/static/other/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/spms/static/other/css/layout_zd.css" rel="stylesheet" type="text/css" />
    <link href="/spms/static/other/css/znyd.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src="/spms/static/other/scripts/js/jquery.min.js"></script>
    <script type='text/javascript' src='/spms/static/other/scripts/js/me.js'></script>
    <script type='text/javascript' src='/spms/static/other/scripts/js/example.js'></script>
    <script type="text/javascript" src="/spms/static/other/scripts/js/003.js"></script>
    <script type="text/javascript" src="/spms/static/other/scripts/js/selectcss.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            toTop();
        });
        function toTop(){
            if(top != self) {
                if(top.location != self.location) {
                    top.location = self.location;
                }
            }
        }
    </script>
    <style>
        .slider{
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background: rgb(239,102,48);
            position: relative;
        }
        p,span,div{
            position: relative;
            float: left;
        }
        input{

            width: 200px;

        }
        button{
            background: rgb(50,205,255);
            color: #fff;

        }
    </style>
</head>

<body>
<!--header开始-->
<div class="login_box">
    <div class="header_login">
        <div class="box_login">
            <div class="logo2"></div>
        </div>
        <div class="line"></div>
    </div>
    <!--ow_main开始-->

    <div class="clear"></div>
    <div class="slider"></div>
    <p style="text-align: center;margin-top: 60px;width: 100%;font-size: 18px;font-weight: bold">找回密码</p>
    <p style="text-align: center;margin-top: 20px;width: 100%;">请输入您的账户</p>
    <p style="text-align: center;margin-top: 20px;width: 100%"><input class="userName"></p>
    <p style="text-align: center;margin-top: 30px;width: 100%">
        <button style="width: 200px;border-radius: 3px;height: 30px">提交</button>
    </p>

    <!--main结束-->

    <!--footer-->
<script>
    $(function(){
        return;
        $("button").on("click",function(){
        var dialg =$("<div>").css({
            position:"absolute",
            top:"0px",
            left:"0px"

        })
        });
    })
</script>
</div>
</body>
</html>
	