<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link href="/spms/static/other/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/spms/static/other/css/layout_zd.css" rel="stylesheet" type="text/css" />
	<link href="/spms/static/other/css/znyd.css" rel="stylesheet" type="text/css" />
	<link href="/spms/resources/jquery-jbox/2.3/Skins/Bootstrap/jbox.css" rel="stylesheet" />
</head>
<body>
  <div class="box">
    <div class="logo"> <img src="/spms/static/other/images/zn_logo.png" width="auto" height="60" /> 
    </div>
    <div class="nav">
      <ul class="group" id="example-two">
      </ul>
    </div>
    <div class="user_message">
      <p>&nbsp;</p>
      <p style="font-size:16px;">您好 <label id="userName" style="color: orange;font-size:16px;"></label> <a style="font-size:16px;" class="exit_btn" onclick="doLoginOut();">退出</a></p>
    </div>
  </div>
  <div class="line"></div>
  	<script type='text/javascript' src="/spms/static/other/scripts/js/jquery.min.js"></script>
	<script type='text/javascript' src="/spms/static/other/scripts/js/me.js"></script>
	<script type="text/javascript" src="/spms/static/other/scripts/js/003.js"></script>
	<script type="text/javascript" src="/spms/static/other/scripts/js/selectcss.js"></script>
	<script type="text/javascript" src="/spms/resources/jquery-jbox/2.3/jquery.jBox-2.3.min.js" ></script>
	<script type="text/javascript" src="/spms/resources/jquery-jbox/2.3/i18n/jquery.jBox-zh-CN.min.js" ></script>
	<script type="text/javascript" src="/spms/static/javascript/component/common/common.js"></script>
	<script type="text/javascript" src="/spms/static/javascript/common/header.js"/>
</body>
</html>
