* { margin: 0; padding: 0; }
#container {  height: 70px; position: relative; overflow: hidden; margin: auto; font-family: Microsoft YaHei,Segoe UI,Tahoma,Arial,Verdana,sans-serif; }
#container ul{}
    #container li { display: block; float: left; width: 93px; background: url(../images/transparent.png); line-height: 32px; padding-right: 2px; list-style: none; position:relative; z-index:999;}
	#container li.nav_tag{ background:#121a29;}
        #container li a { color: #fff; text-decoration: none; display: block; position: relative;  width: 93px;  padding-right: 2px; font-size: 14px; font-weight: bold; text-align:center; height:68px; text-indent:-9999px;}
/*            #container li a:hover { background: #222; }*/
            #container li a span { display: block; position: absolute; left: 10px; top: 0; font-weight: normal; font-size: 10px; -webkit-text-size-adjust: none; opacity: 0.6; filter: alpha(opacity=60); }
#buoy { position: absolute; width: 95px; height:70px; background:#0e1726; bottom: 0px; left:0px; z-index:22; }
