
<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: auto;">
<head>
<title>订户管理 - Powered By Clickmed</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10" />
<link
	href="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.css"
	type="text/css" rel="stylesheet" />
<link rel="stylesheet"
	href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css" />
<link
	href="/spms/resources/bootstrap/2.3.1/css_default/bootstrap.min.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/select2/select2.css" type="text/css"
	rel="stylesheet" />
<link href="/spms/resources/x-editable/css/bootstrap-editable.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/fancyBox/source/jquery.fancybox.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/common/platform.min.css" type="text/css"
	rel="stylesheet" />
<link href="/spms/static/other/css/table.css" rel="stylesheet"
	type="text/css" />
<link rel="shortcut icon" href="/spms/resources/favicon.ico">
<link href="/spms/resources/common/edit/edit_control.css"
	rel="stylesheet" type="text/css" />
<link href="/spms/resources/common/maskLayer/masklayer.css"
	type="text/css" rel="stylesheet" />
</head>
<body>

<ol class="breadcrumb">
    您的当期位置：
    <li ><a>订户管理</a></li>
    >>
    <li><a >订户列表</a></li>
</ol>

	<div id="collapseOne">
		<form id="searchForm" class="breadcrumb form-search" >
			<div style="margin-top: 8px;">
				<label>业务区域:</label>
				<div class="input-append">
					<input id="bizAreaParentId" name="bizArea.parentIds" class="required"
						treeSelect="true" type="hidden" value="" /> 
					<input id="bizAreaName" name="bizArea.name"  readonly="readonly" type="text" value="" maxlength="50" style="width: 120px;" /> 
					<a id="bizAreaButton" href="javascript:"
						style="" class="btn"><i class="icon-search"></i></a>&nbsp;&nbsp;
				</div>
				<label style="width: 60px; text-align: right;">订户姓名:</label> <input
					id="fullname" name="fullname" style="width: 159px"
					class="input-small" type="text" value="" maxlength="50" /> <label
					style="width: 85px; text-align: right;">手机号码:</label> <input
					id="mobile" name="mobile" style="width: 159px" class="input-small"
					type="text" value="" maxlength="50" />
					<!--  <label style="width: 85px; text-align: right;">产品目录:</label> <select name="spmsUserProductBindings.spmsProductType.id"
					style="width: 175px;" class="the_select2">
					<option value="">全部</option>
					<option value="1">智能空调服务</option>
				</select> -->
				<label
					style="width: 85px; text-align: right;">
					订户状态:</label> <select
					name="user.status" style="width: 175px;" class="the_select2">
					<option value="">全部</option>
					<option value="0">正常</option>
					<option value="2">冻结</option>
				</select>
			</div>
			<div style="margin-top: 8px;">
				<label>用电区域:</label>

				<div class="input-append">
					<input id="eleAreaParentId" name="eleArea.parentIds" class="required"
						treeSelect="true" type="hidden" value="" /> <input
						id="eleAreaName" name="eleArea.name"  readonly="readonly"
						type="text" value="" maxlength="50" "
		class="required"
						style="width: 120px;" /> <a id="eleAreaButton" href="javascript:"
						style="" class="btn"><i class="icon-search"></i></a>&nbsp;&nbsp;
				</div>
				<label style="width: 60px; text-align: right;">电表号:</label> <input
					id="ammeter" name="ammeter" style="width: 159px"
					class="input-small" type="text" value="" maxlength="50" /> <label
					style="width: 85px; text-align: right;">绑定网关MAC:</label> <input
					id="spmsDevice.mac" name="spmsDevice.mac" style="width: 159px"
					class="input-small" type="text" value="" maxlength="50" />
					<!-- <label
					style="width: 85px; text-align: right;">
					订户状态:</label> <select
					name="user.status" style="width: 175px;" class="the_select2">
					<option value="">全部</option>
					<option value="0">正常</option>
					<option value="2">冻结</option>
				</select> -->
				<input id="btnSubmit"  class="btn btn-primary" value="查询" type="button" style="margin-left:130px;" onclick="doQuery()" />
				 </div>
				<!--<div style="margin-left: 1000px;margin-top: 8px;">
				<input id="btnSubmit" class="btn btn-primary" value="查询" style="width:50px" onclick="doQuery()" />
			</div> -->
		</form>

	</div>
	<div>
		<div id="reportInfoQuery" class="clickmedCommonTable1"
			queryId="spmsUserQuery"
			conf="{showSelect:true,selectText:' ',selectType:'CHECKBOX',title:'订户列表',customBtn:true,createDelOpp:false,autoLoad:false,initFun:initFun,selectText:' ',rowClick:rowClick,createFun:createFun,createBtn:false,deleteFun:deleteFun,createBtnTxt:'添加订户',del_ico:'frozen_ico',deleteBtnTxt:'冻结订户',importBtn:true,importFun:importFun}"
			searchDiv="collapseOne" operatorArr="oppObj"></div>
	</div>
	<script type='text/javascript'
		src="/spms/static/other/scripts/js/jquery.min.js"></script>
	<script src="/spms/resources/jquery/jquery-migrate-1.1.1.min.js"
		type="text/javascript"></script>
	<script
		src="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.js"
		type="text/javascript"></script>
	<script
		src="/spms/resources/jquery-validation/1.11.1/jquery.validate.method.min.js"
		type="text/javascript"></script>
	<script src="/spms/resources/bootstrap/2.3.1/js/bootstrap.min.js"
		type="text/javascript"></script>
	<!--[if lte IE 6]><link href="/spms/resources/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
	<script src="/spms/resources/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script><![endif]-->
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]> <script src="/spms/resources/common/html5.js"></script><![endif]-->
	<script src="/spms/resources/My97DatePicker/WdatePicker.js"
		type="text/javascript"></script>
	<script src="/spms/resources/common/mustache.min.js"
		type="text/javascript"></script>
	<script src="/spms/resources/list/list.min.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2_locale_zh-CN.js"
		type="text/javascript"></script>
	<script src="/spms/resources/x-editable/js/bootstrap-editable.js"
		type="text/javascript"></script>
	<script src="/spms/resources/fancyBox/source/jquery.fancybox.js"
		type="text/javascript"></script>
	<script src="/spms/resources/common/platform.min.js"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common.js"></script>
	<script type="text/javascript"
		src="/spms/static/css/component/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common-dialog.js"></script>
	<script type="text/javascript"
		src="/spms/resources/common/maskLayer/maskLayer.js">
		
	</script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common-table.js">
	</script>
	<script type="text/javascript"
		src="/spms/static/javascript/dialog/dialog.js">
	</script>
	<script type="text/javascript"
		src="/spms/static/javascript/spmsUser/spmsUserList.js"></script>
</body>
</html>
