<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: auto;">
<head>
     <title>用户管理 - Powered By Clickmed</title>
     <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
     <meta http-equiv="Cache-Control" content="no-store"/>
     <meta http-equiv="Pragma" content="no-cache"/>
     <meta http-equiv="Expires" content="0"/>
     <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10"/>
     <link href="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.css" type="text/css" rel="stylesheet"/>
     <link rel="stylesheet" href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css"/>
     <link href="/spms/resources/bootstrap/2.3.1/css_default/bootstrap.min.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/resources/select2/select2.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/resources/x-editable/css/bootstrap-editable.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/resources/fancyBox/source/jquery.fancybox.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/resources/common/platform.min.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/static/other/css/table.css" rel="stylesheet" type="text/css"/>
     <link rel="shortcut icon" href="/spms/resources/favicon.ico">
     <link href="/spms/resources/common/edit/edit_control.css" rel="stylesheet" type="text/css"/>
     <link href="/spms/resources/common/maskLayer/masklayer.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/resources/common/edit/edit_control.css" type="text/css" rel="stylesheet"/>
     <link href="/spms/static/css/component/timeline/style.css" type="text/css" rel="stylesheet"/>
    <link href="../style/css/znyd.css" rel="stylesheet" type="text/css" />
    <style>
        /* alipay iconfont */

        @font-face {
            font-family: "rei";
            src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20130423"); /* IE9 */
            src: url("https://i.alipayobjects.com/common/fonts/rei.eot?20130423#iefix") format("embedded-opentype"), /* IE6-IE8 */  url("https://i.alipayobjects.com/common/fonts/rei.woff?20130423") format("woff"), /* chrome 6+、firefox 3.6+、Safari5.1+、Opera 11+ */  url("https://i.alipayobjects.com/common/fonts/rei.ttf?20130423") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */  url("https://i.alipayobjects.com/common/fonts/rei.svg?20130423#rei") format("svg"); /* iOS 4.1- */
        }
        .iconfont {
            font-family: "rei"!important;
            font-style: normal;
            font-weight: normal;
            cursor: default;
            -webkit-font-smoothing: antialiased;
        }
    </style>
</head>
<body>
<ol class="breadcrumb">
    您的当期位置：
    <li ><a>工单管理</a></li>
    >>
    <li><a>全部工单</a></li>
    >>
    <li><a>详细</a></li>
</ol>
     <fieldset id="workOrderInfo">
          <form id="workOrderBaseInfo" class="form-horizontal form_znydxq wf_theAction_form">
          </form>
     </fieldset>
     <fieldset style="background-color:#f5f5f5">
          <legend>
               流程基本信息<a class="togglebtn togglebtn-down" href="javascript:void(0)" onClick="togglebtnText(this)"></a>
          </legend>
          <table width="100%">
               <tr>
                    <td>
                         <div id="common_timeLine"></div>
                    </td>
               </tr>
          </table>
     </fieldset>
     <fieldset>
          <div id="searchDiv_wf">
               <input type="hidden" name="processInstanceId" id="processInstanceId"/>
          </div>
          <div id="reportInfo" align="left" wf-tasklist='{workFlowTypeId:"meetPlan",title:"流程跟踪"}'></div>
     </fieldset>
     </div>
     <div class="form-actions">
          <span wf-id="flow3"></span>
          <input id="btnCliam" class="btn btn-primary" type="button" style="display:none" value="认 领" onclick="doClaim()"/>
          <input id="btnAssign" class="btn btn-primary" type="button" style="display:none"  value="指 派" onclick="doSelectUser()"/>
         <input id="btnDelete" class="btn btn-primary" type="button" value="作 废" onclick="doDelete()"/>
          <input id="btnCancel" class="btn btn-primary" type="button" value="返 回" onclick="history.go(-1)"/>
     </div>

     <script type='text/javascript' src="/spms/static/other/scripts/js/jquery.min.js"></script>
     <script src="/spms/resources/jquery/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>
     <script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
     <script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.method.min.js" type="text/javascript"></script>
     <script src="/spms/resources/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"></script>
     <!--[if lte IE 6]>
     <link href="/spms/resources/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet"/>
     <script src="/spms/resources/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script>
     <![endif]-->
     <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
     <!--[if lt IE 9]>
     <script src="/spms/resources/common/html5.js"></script>
     <![endif]-->
     <script src="/spms/resources/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
     <script src="/spms/resources/common/mustache.min.js" type="text/javascript"></script>
     <script src="/spms/resources/list/list.min.js" type="text/javascript"></script>
     <script src="/spms/resources/select2/select2.js" type="text/javascript"></script>
     <script src="/spms/resources/select2/select2_locale_zh-CN.js" type="text/javascript"></script>
     <script src="/spms/resources/x-editable/js/bootstrap-editable.js" type="text/javascript"></script>
     <script src="/spms/resources/fancyBox/source/jquery.fancybox.js" type="text/javascript"></script>
     <script src="/spms/resources/common/platform.min.js" type="text/javascript"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/common/common.js"></script>
     <script type="text/javascript" src="/spms/static/css/component/bootstrap/js/bootstrap.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/common/common-dialog.js"></script>
     <script type="text/javascript" src="/spms/resources/common/maskLayer/maskLayer.js"></script>
     <script type="text/javascript" src="/spms/resources/common/edit/edit_control.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/common/common-table.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/dialog/dialog.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/common/workflow-common.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/component/jquery/timeline/jquery.timelinr.js"></script>
     <script type="text/javascript" src="/spms/static/javascript/spmsUser/spmsWorkFlowHistoryW.js"></script>
     <script type="text/javascript" src="/spms/resources/common/edit/dateCount.js"></script>
</body>
</html>