<!DOCTYPE html>
<html>
	<head>
		<title>DSM管理 - Powered By Clickmed</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-store" /><meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0" />
		<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10" />
		<link href="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css"/>
		<link href="/spms/resources/bootstrap/2.3.1/css_default/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/select2/select2.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/x-editable/css/bootstrap-editable.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/fancyBox/source/jquery.fancybox.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/common/platform.min.css" type="text/css" rel="stylesheet" />
		<link href="/spms/static/other/css/table.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="/spms/resources/favicon.ico">
		<link href="/spms/resources/common/edit/edit_control.css" rel="stylesheet" type="text/css" />
		<link href="/spms/resources/common/maskLayer/masklayer.css" type="text/css" rel="stylesheet" />
	</head>
<body>
	<div id="collapseOne">
		<input id="type" name="type" type="hidden" value="1"/>
		<div style="margin-top: 8px;">
			<label>承诺降负荷: </label>
			<input id="promisedReduceTargetQForBox" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
			<br/>
			<label>承诺降电量: </label>
			<input id="promisedReduceTargetPForBox" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
		</div>
		<div>
			<div><button onclick="submitting(faId)">确定</button></div>
		</div>
	</div>
	
	<script type='text/javascript' src="/spms/static/other/scripts/js/jquery.min.js"></script>
	<script src="/spms/resources/jquery/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>
	<script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.method.min.js" type="text/javascript"></script>
	<script src="/spms/resources/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lte IE 6]><link href="/spms/resources/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
	<script src="/spms/resources/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script><![endif]-->
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]> <script src="/spms/resources/common/html5.js"></script><![endif]-->
	<script src="/spms/resources/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
	<script src="/spms/resources/common/mustache.min.js" type="text/javascript"></script>
	<script src="/spms/resources/list/list.min.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2_locale_zh-CN.js" type="text/javascript"></script>
	<script src="/spms/resources/x-editable/js/bootstrap-editable.js" type="text/javascript"></script>
	<script src="/spms/resources/fancyBox/source/jquery.fancybox.js" type="text/javascript"></script>
	<script src="/spms/resources/common/platform.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/common/common.js"></script>
    <script type="text/javascript" src="/spms/static/css/component/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/common/common-dialog.js"></script>
	<script type="text/javascript" src="/spms/resources/common/maskLayer/maskLayer.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/component/common/common-table.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/dialog/dialog.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/workflow/DSM_list.js"></script>
</body>
</html>
<script type="text/javascript">
	var id = "";
	var promisedReduceTargetP = "";
	var promisedReduceTargetQ = "";
	var faId = "";
	var url = window.location.href;
	var params = url.split("?")[1].split("&");
	
	for(var i = 0; i<params.length;i++){
		var paramName = params[i].split("=")[0];
		if(paramName == "id"){
			id = params[i].split("=")[1];
		}
		if(paramName == "promisedReduceTargetP"){
			promisedReduceTargetP = params[i].split("=")[1];
		}
		if(paramName == "promisedReduceTargetQ"){
			promisedReduceTargetQ = params[i].split("=")[1];
		}
		if(paramName == "faId"){
			faId = params[i].split("=")[1];
		}
	}
	$("#promisedReduceTargetPForBox").val( ( promisedReduceTargetP == "" || promisedReduceTargetP == null || promisedReduceTargetP == "null") ? 0 : promisedReduceTargetP);
	$("#promisedReduceTargetQForBox").val( ( promisedReduceTargetQ == "" || promisedReduceTargetQ == null || promisedReduceTargetQ == "null") ? 0 : promisedReduceTargetQ);
	
</script>