<!DOCTYPE html>
<html style="overflow-x:hidden;overflow-y:auto;">
	<head>
		<title>DSM管理 - Powered By Clickmed</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-store" /><meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0" />
		<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10" />
		<link href="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.css" type="text/css" rel="stylesheet" />
		<link rel="stylesheet" href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css"/>
		<link href="/spms/resources/bootstrap/2.3.1/css_default/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/select2/select2.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/x-editable/css/bootstrap-editable.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/fancyBox/source/jquery.fancybox.css" type="text/css" rel="stylesheet" />
		<link href="/spms/resources/common/platform.min.css" type="text/css" rel="stylesheet" />
		<link href="/spms/static/other/css/table.css" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="/spms/resources/favicon.ico">
		<link href="/spms/resources/common/edit/edit_control.css" rel="stylesheet" type="text/css" />
		<link href="/spms/resources/common/maskLayer/masklayer.css" type="text/css" rel="stylesheet" />
	</head>
<body id="body">
    <ol class="breadcrumb">
        您的当期位置：
        <li ><a>系统设置</a></li>
        >>
        <li><a id="the_name">DSM管理</a></li>
    </ol>
	
	<div id="collapseOne">
		<form id="searchForm" class="breadcrumb form-search" >
			<input id="type" name="type" type="hidden" value="1"/>
			<div style="margin-top: 8px;">
				<label>方案名称: </label>
				<input id="schemeName" name="schemeName" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
				<label>方案类型: </label>
				<input id="schemeType" name="schemeType" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
				<label style="margin-left:33px;">当前状态 : </label>
                   <select name="status" id="status"
					class="the_select2" style="width: 220px;">
					<option value="">---------请选择--------</option>
					<option value="REFUSED">已拒绝</option>
					<option value="APPROVED">运行中</option>
					<option value="INITIALIZED">新响应</option>
					<option value="DONE">完成的</option>
				</select><br/>	  
				<br/>	
				<label>&nbsp;&nbsp;&nbsp;负责人: </label>
				<input id="releaseUser" name="releaseUser" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
				<label>联系电话: </label>
				<input id="contactPhone" name="contactPhone" style="width:208px" class="required" type="text" value="" maxlength="200"/>&nbsp;
				<input id="btnSubmit" class="btn btn-primary" type="button" value="查询" style="margin-left:62px;" onclick="doQuery()"/>
				</div>
        </form>
	</div>
	<div>
	    <div id="reportInfoQuery" class="clickmedCommonTable1"  queryId="DSMQuery" conf="{pageMaxCount:10,showSelect:true,
	    showTitle:true,selectText:' ',
	    selectType:'CHECKBOX',
	    title:'',autoLoad:false,createDelOpp:false,selectText:' ',
	    rowClick:rowClick,deleteFun:deleteFun,createFun:createFun,createBtn:false,
	    deleteBtnTxt:'删除',del_ico:'frozen_ico',initFun:initFun}" 
	    searchDiv="collapseOne" operatorArr="oppObj">
		</div>
	</div>

	<script type='text/javascript' src="/spms/static/other/scripts/js/jquery.min.js"></script>
	<script src="/spms/resources/jquery/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>
	<script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
	<script src="/spms/resources/jquery-validation/1.11.1/jquery.validate.method.min.js" type="text/javascript"></script>
	<script src="/spms/resources/bootstrap/2.3.1/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lte IE 6]><link href="/spms/resources/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
	<script src="/spms/resources/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script><![endif]-->
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]> <script src="/spms/resources/common/html5.js"></script><![endif]-->
	<script src="/spms/resources/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
	<script src="/spms/resources/common/mustache.min.js" type="text/javascript"></script>
	<script src="/spms/resources/list/list.min.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2_locale_zh-CN.js" type="text/javascript"></script>
	<script src="/spms/resources/x-editable/js/bootstrap-editable.js" type="text/javascript"></script>
	<script src="/spms/resources/fancyBox/source/jquery.fancybox.js" type="text/javascript"></script>
	<script src="/spms/resources/common/platform.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/common/common.js"></script>
    <script type="text/javascript" src="/spms/static/css/component/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/spms/static/javascript/component/common/common-dialog.js"></script>
	<script type="text/javascript" src="/spms/resources/common/maskLayer/maskLayer.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/component/common/common-table.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/dialog/dialog.js"> </script>
	<script type="text/javascript" src="/spms/static/javascript/workflow/DSM_list.js"></script>
</body>
</html>
