<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.harmazing.entity.Device" alias="Device"/>
        <typeAlias type="com.harmazing.entity.Gateway" alias="Gateway"/>
        <typeAlias type="com.harmazing.entity.AirCondition" alias="AirCondition"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 
               <property name="url" value="jdbc:mysql://123.56.88.237:3306/spms?useUnicode=true&amp;characterEncoding=utf8&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="Q1w2e3r$"/>
               -->
                  
                <property name="url" value="jdbc:mysql://192.168.2.201:3306/spms?useUnicode=true&amp;characterEncoding=utf8&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="Q1w2e3r$"/>
                
               
                <property name="poolPingQuery" value="SELECT id FROM spms_ac WHERE id = 1" />
                <property name="poolPingEnabled" value="true" />
                <property name="poolMaximumActiveConnections" value="200" />
                <property name="poolMaximumIdleConnections" value="100" />
            </dataSource>
        </environment>
    </environments>
    
    <mappers>
        <mapper resource="mappers/DeviceMapper.xml"/>
        <mapper resource="mappers/ServiceMapper.xml" />
        <mapper resource="mappers/UserMapper.xml" />
        <mapper resource="mappers/LogMapper.xml" />
        <mapper resource="mappers/ResultDataMapper.xml" />
        <mapper resource="mappers/SysConfigMapper.xml" />
        <mapper resource="mappers/AcClockMapper.xml" />   
        <mapper resource="mappers/DeviceExceptionMapper.xml"/>  
        <mapper resource="mappers/ZigBeeMapper.xml"/> 
        <mapper resource="mappers/GatewayMapper.xml"/> 
        <mapper resource="mappers/AirconditionMapper.xml" /> 
        <mapper resource="mappers/ZigBeeOOMapper.xml" />
        <mapper resource="mappers/ZigbeeOOElectricityMeterMapper.xml" />
        <mapper resource="mappers/ZigbeeHALampMapper.xml" />
        <mapper resource="mappers/TemperatureHumiditySensorMapper.xml" />
        <mapper resource="mappers/DoorWindowSensorMapper.xml" />
        <mapper resource="mappers/PirSensorMapper.xml" />
        <mapper resource="mappers/IftttMapper.xml" />
        <mapper resource="mappers/DeviceHistoricStatusMapper.xml" />
        <!--<package name="com.harmazing.mapper" />-->
    </mappers>
</configuration>