@charset "utf-8";
/* CSS Document */

/* {margin: 0px; padding: 0px; font-family:"宋体"!important;} */
/* span{ */
/*   word-break: break-all !important; */
/* } */
/* select{ */
/*   border:1px inset #f4f4f4 !important ; */
/* } */

{ 
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important; 

    outline: none!important;

}
html,body{ height:100%; font-family:"宋体"; background:#bbbbbb; font-size:14px;}
body a{outline:none;blr:expression(this.onFocus=this.blur()); -moz-outline-style: none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
ol,ul,li{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
abbr,acronym{border:0}
body,button,input,select,textarea{font-family:"Microsoft Yahei"; }
.warp_moban_single{ width:58%; height:auto; position:relative; margin:73px auto; background:#fff; padding:20px 30px 30px;}
.littlePage{position:absolute;right: -32.2%;width: 30%;background-color: #fff;top: 13px;display:none;}
.warp_moban{ width:60%; height:auto; overflow:hidden; margin:73px auto; background:#fff; padding:20px 30px 30px;}
.bg_white{overflow:hidden; background:#fff;}
h1.moban_title{ text-align:center; line-height:58px; font-size: 24px; font-weight:bold;}

.moban_table{ border-bottom:1px solid #ff0000; height:auto; overflow:hidden; margin-bottom:20px;}
.div_td{ padding:8px 0px; height:auto; overflow:hidden; }
.div_td_line{ border-top:1px solid #ff0000;}
.p0{ padding:0px;}
.div_td table tr td{ line-height:30px;}
td.td_left{ text-align:left;} 
td.td_right{ text-align:right;}
td input{ border:0px solid #f1f1f1; outline:none; background:#F0F8FF}
td input:active{  outline:none;} 
input.input_year{ width:60px; height:20px; line-height:20px; border-bottom:0px solid #ccc;}
input.input_month{ width:30px; height:20px; line-height:20px; border-bottom:0px solid #ccc;}
input.input_day{ width:30px; height:20px; line-height:20px; border-bottom:0px solid #ccc;}
input::-ms-clear{display:none;}
input[type=text]{  border-bottom:0px solid #ccc; height:20px; line-height:20px;}
.div_td textarea{ border:0px solid #f1f1f1; background:#F0F8FF;}
.div_td textarea:active{ outline:none;}
input,textarea {outline:none; border:0px; }
textarea{ resize:none;}
input[type=radio]{ position:relative; top:2px;}

.qz{ width:49.9%; float:left; height: 410px; padding:8px 0px;}
.qz dl dt{ font-size:14px; padding:5px 0px;}
.qz_right{ border-left:1px solid #ff0000; }
.qz_right dl{ padding-left:10px;}
dl.h_01{ height:140px;}
dl.h_02{ height:70px;}
dl.h_03{ height:35px;}

.td_left span{  line-height: 24px; margin-right: 10px; height: 20px;}
.zf_table table{ border-top:1px solid #000000; border-left:1px solid #000000; font-size:12px;}
.zf_table table tr td{ border-bottom:1px solid #000000; border-right:1px solid #000000; line-height:24px; padding:5px 5px;}
td.td_c{ text-align:center;}

p.td_r{ text-align:right;}

.red{ color:#ff0000;}
.green{ color:#13a30a;}
.bgt_table table{ border-top:1px solid #000000; border-left:1px solid #000000; font-size:12px;}
.bgt_table table tr td{ border-bottom:1px solid #000000; font-size:14px; border-right:1px solid #000000; line-height:19px; padding:5px 5px;}

/*请示报告阅办卡*/
#tab1 table .font_13{font-size: 13px;}

.ybk_table table tr {border-bottom:1px solid #000;font-size:14px; border-left:1px solid #fff;border-right:1px solid #fff; line-height:19px; padding:5px 5px;}

.ybk_table table tr .td_top{vertical-align: top;width:135px;font-size:16px; padding:0px 15px;}

td.ld_more p{ border-bottom:1px solid #f2f2f2; padding:2px 2px;}
.tabtag{position:fixed;top:36px;background-color:white;}

.operator{margin:3px;}
.text_date{ line-height:30px; height:30px; padding:0px 0px 5px; text-align:left;}
.textIframe{
	margin-top:65px;
}
.div_td textarea:disabled{ background:#fff!important;}
.div_td input:disabled{ background:#fff!important;}
.sdCode{ border:0px solid #f1f1f1; outline:none; background:#F0F8FF}
.sdCode:disabled{ background:#fff!important;}
#tab4{width:1350px;padding-right:0px;padding-left:0px;}
.weboffice{width:1px;height:1px}
.div_td input[readOnly]{background:#fff!important;}
.div_td textarea[readOnly]{background:#fff!important;}