.report_lists {
    padding: 7px;
    border: 1px solid grey;
    height: auto;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 0 auto;
    width: 1050px;
    padding-top: 5px;
}

.main_block {
    overflow: hidden;
    width: 1260px;
    height: auto;
}

.outline1 {
    padding: 10px 0 0 15px;
    width: 1065px;
    height: auto;
    overflow: hidden;
}

.outline {
    padding: 7px 5px 0 5px;width: 1065px;height: auto;overflow: hidden;
}

.outline_1 {
    display: inline;
    width: 300px;
    height: auto;
    float: left;
    /*margin: 5px 5px 5px 5px;*/
}

.outline_2 {
    display: inline;
    width: auto;
    height: auto;
    float: left;
    /*margin:5px 5px 0 5px;*/
}

.outline_3 {
    display: inline;
    width: 250px;
    height: auto;
    float: right;
    /*margin:5px 5px 0 5px;*/
}

.outline_1_1 {
    border: 1px solid lightgray;
    margin-top: 5px;
    height: auto;
}

.outline_1_li {
    line-height: 200%;
}

.outline_1_li2 {
    float: left;
    width: 125px;
    margin: 5px 12px 15px 6px;
    height: 55px;
}
.outline_1_li3 {
    float: left;
    width: 120px;
    margin: 10px 12px 15px 6px;
}

.outline_2_1 {
    border: 1px solid lightgray;
    height: auto;
    display: block;
}

.messages-boxs {
    position: relative;
    float: left;
    margin-top: 8px;
    padding: 10px;
    width: 250px;
    height: auto;
    line-height: 20px;
    background: #fff;
    border: 1px solid #394862;
    border-radius: 2px;
    font-size: 14px;
}

.outline_3_1 {
    border: 1px solid lightgray;
    padding-left: 10px;
    height: auto;
    margin-bottom: 10px;
}

.outline_3_li {
    margin: 5px 0 19px 0;
}

.outline_2_2 {
    border: 1px solid lightgray;
    margin-top: 10px;
    padding: 5px 0 5px 5px;
    height: auto;
}

.txt_border {
    font-weight: bold;
    line-height: 200%;
}

.lab_large {
    color: gray;
    font-size: large;
}

.warning_tipes span {
    background-color: #00b0f0;
    width: 12px;
    height: 12px;
    display: inline-table;
    border-radius: 2px;
}

.imptwarning_tips span {
    background-color: #c7000b;
    width: 12px;
    height: 12px;
    display: inline-table;
    border-radius: 2px;
}

.norwarning_tips span {
    background-color: #ffc000;
    width: 12px;
    height: 12px;
    display: inline-table;
    border-radius: 2px;
}

.normal_tips span {
    background-color: #00a651;
    width: 12px;
    height: 12px;
    display: inline-table;
    border-radius: 2px;
}

.right_first_t_2 {
    text-align: left;
    background-color: #ffffff;
    padding: 5px 5px 40px 5px;
    height: auto;
}

.right_first_f {
    background: #e4e4e4;
    height: 32px;
}

.right_first_txt {
    float: left;
    font-size: 16px;
    margin-left: 10px;
    line-height: 32px;
}

a.text1_1 {
    font-size: 14px;
    line-height: 24px;
    display: block;
}

a.text2_1 {
    font-size: 12px;
    line-height: 24px;
    display: block;
    font-weight: 600;
}