<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="author" content="Zhaocaipeng" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="pragma" content="no-cach" /> 
		<meta http-equiv="cache-control" content="no-cache" /> 
		<meta http-equiv="expires" content="0" />
		<title>用户列表</title>
		<link rel="stylesheet" href="demo.css"/>
		<link rel="stylesheet" href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css"/>
		<link rel="stylesheet" href="../../static/css/component/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="../../static/css/component/bootstrap/css/bootstrap-theme.min.css"/>
		<link rel="stylesheet" href="../../static/javascript/component/ztree/css/zTreeStyle/zTreeStyle.css"/>
		<link rel="stylesheet" href="../../static/css/component/common/common.css"/>
		<link rel="stylesheet" href="../../static/css/comstyle/css/daibanliebiao.css" type="text/css" />
		<link rel="stylesheet" href="../../static/css/comstyle/css/base.css" type="text/css" />	
		<link rel="stylesheet" href="../../static/css/comstyle/css/pop.css" type="text/css" />	
		<style type="text/css">
.ztree * {
   
    font-size: 12pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
		.ztree li ul{ margin:0; padding:0;color:#00f!important }
		.ztree li {line-height:30px;}
		.ztree li a {width:200px;height:30px;padding-top: 0px;}
		.ztree li a:hover {text-decoration:none; background-color:"";}
		.ztree li a span.button.switch {visibility:hidden}
		.ztree.showIcon li a span.button.switch {visibility:visible}
		.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
		.ztree li span {line-height:30px;}
		.ztree li span.button {margin-top: -7px;}
		.ztree li span.button.switch {width: 16px;height: 16px;}
		
		.ztree li a.level0 span {font-size: 120%;font-weight: bold;}
		.ztree span {vertical-align: middle;color:#34e!important}
		.switch{margin-top:-1px!important}
	</style>
		
	</head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  
  
<!-- Tab panes -->
	  <div id="roleDiv">
	   <p class="top_title" style="font-size:15px;margin-left:5px">请选择办理人：</p>
<!-- 	  <div class="panel panel-default" > -->
<!-- 	    <div id="collapseOne2" class="panel-collapse collapse in"> -->
<!-- 	      		<div class="input-group col-lg-3 col-md-3 col-sm-6 col-xs-6 "> -->
<!-- 				</div> -->
<!-- 				<div class="input-group col-lg-3 col-md-3 col-sm-6 col-xs-6 col-lg-offset-6  col-md-offset-6"> -->
<!-- 				  <input type="hidden" id="roleCode" name="roleCode" class="form-control" placeholder=""/> -->
<!-- 				</div> -->
<!-- 	    </div> -->
<!-- 	  </div> -->
<!-- 		<div id="orgTargetDiv" class="clickmedCommonTable1" queryId="roleQueryForWF" conf="{showTitle:false,onQueryEnd:queryEnd,createDelOpp:false,showSelect:true,createBtn:false,selectText:'选择',selectType:'CHECKBOX',autoLoad:false,searchBtn:false}" searchDiv="collapseOne2" > -->
<!-- 		</div> -->
<ul id="treeDemo" class="ztree"></ul>
				<div class='hig'></div>
				<div class='hig'></div>	
		<div class="line" style="max-width:100%; height:1px; background:#cecece;margin: auto;margin-top:7px" ></div>
		</div>
		<div id="markDiv">
		<div class="hig"></div>
		<div class="hig"></div>
    	<p class="cen_title" style="font-size:15px;margin-left:5px">请输入处理信息：</p>
    	<div align="center">
        	<textarea class="form-control autoSizeTextarea" id="mark" name="mark" rows="1" style="width:96%"></textarea>
        </div>
        <div class="line" style="max-width:100%; height:1px; background:#cecece;margin: auto;margin-top:7px" ></div>
        </div>
        
        <div class="hig"></div>
		<div class="hig"></div>
		<div class="hig"></div>
		<div id="dateDiv" class="hidden">
    	<p class="down_title">选择日期：</p>
		<div class='row form-group' >
	  		<label class="col-lg-1 col-md-1"></label>
			<div class="input-group col-xs-5 col-lg-2 col-md-2">
			  <input type="text" name="inputDate" id="inputDate" class="form-control " disabled placeholder="" data-required />
			</div>
		</div>	
		</div>
    </body>
     	<script type="text/javascript" src="../../static/javascript/component/common/common-noframe.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/jquerycore/jquery.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/ztree/js/jquery.ztree.all-3.5.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery-ui-timepicker-addon.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
        <script type="text/javascript" src="../../static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
	    <script type="text/javascript" src="../../static/javascript/component/common/common.js"></script>
	    <script type="text/javascript" src="../../static/css/component/bootstrap/js/bootstrap.js"></script>
	    <script type="text/javascript" src="../../static/javascript/component/common/common-table.js"></script>
	    <script type="text/javascript" src="../../static/javascript/component/common/common-dialog.js"></script>
	    <script type="text/javascript" src="../../static/javascript/component/jquery/validate/jquery-validate.js"></script>
	     <script type="text/javascript" src="../../static/javascript/component/common/textarea-autosize.js"></script>
	    <script type="text/javascript" src="../../static/javascript/dialog/workFlowDialog.js"></script>
</html>