<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: auto;">
<head>
<title>设备管理 - Powered By Clickmed</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10" />
<link
	href="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.css"
	type="text/css" rel="stylesheet" />
<link rel="stylesheet"
	href="../../static/css/component/jqueryui/themes/base/jquery.ui.all.css" />
<link
	href="/spms/resources/bootstrap/2.3.1/css_default/bootstrap.min.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/select2/select2.css" type="text/css"
	rel="stylesheet" />
<link href="/spms/resources/x-editable/css/bootstrap-editable.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/fancyBox/source/jquery.fancybox.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/common/platform.min.css" type="text/css"
	rel="stylesheet" />
<link href="/spms/static/other/css/table.css" rel="stylesheet"
	type="text/css" />
<link rel="shortcut icon" href="/spms/resources/favicon.ico">
<link href="/spms/resources/common/edit/edit_control.css"
	rel="stylesheet" type="text/css" />
<link href="/spms/resources/common/maskLayer/masklayer.css"
	type="text/css" rel="stylesheet" />
<link href="/spms/resources/common/edit/edit_control.css"
	type="text/css" rel="stylesheet" />
</head>
<body>
<ol class="breadcrumb">
    您的当期位置：
    <li ><a>区域管理</a></li>
    >>
    <li><a id="the_name"></a></li>
    >>
    <li><a id="the_name">添加区域</a></li>
</ol>
	<div class="table_title">
		<h2>区域添加</h2>
		<div class="action_button">
			<a href="javascript:void(0);" id="btnSubmit"><i
				class="complete_ico"></i>保存</a> <a href="javascript:void(0);"
				onclick="history.go(-1)"><i class="cancel_ico"></i>返回</a>
		</div>
	</div>
	<form id="inputForm" class="form-horizontal form-two form_znydxq"
		action="/spms/area/doSave" method="post">
		<input id="myid" name="id" type="hidden" value="" />
		<input id="parentType" name="parentType" type="hidden" value="" />
		
		<div class="control-group">
			<label class="control-label">上级区域:</label>
			<div class="controls">
				<input type="text" value="" maxlength="50" readonly="true"
					id="parentname" class=""/> <input id="parentid" name="parent.id"
					type="hidden" value="" /> <input id="btnSubmit"
					class="btn btn-primary" type="button" value="选择"
					style="position:relative;" onclick="testAlert()" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">区域名称:</label>
			<div class="controls">
				<input id="myName" name="name" class="required" type="text" value=""
					maxlength="50" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">区域编码:</label>
			<div class="controls">
				<input id="code" name="code" type="text" value="" maxlength="50" class="required"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">区域类型:</label>
			<div class="controls">
				<select id="type" name="type" style="width: 220px"
					dictSrc="area_type" class="the_select2 required">
					<option value="">--请选择--</option>
				</select>

			</div>
		</div>
		<div class="control-group">
			<label class="control-label">区域分类:</label>
			<div class="controls">
				<select id="classification" name="classification"
					style="width: 220px" dictSrc="area_classification"
					class="the_select2 required">
					<option value="">--请选择--</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">控电策略:</label>
			<div class="controls">
				<select id="policy" name="policy" style="width: 220px"
					dictSrc="area_policy" class="the_select2 required">
					<option value="">--请选择--</option>
				</select>
			</div>
		</div>
		<div class="control-group" style="width: 1140px; height: 50px">
			<label class="control-label">备注:</label>
			<div class="controls">
				<textarea id="remarks" name="remarks"
					style="width: 840px; height: 43px; resize: none;" maxlength="200"
					class="input-xlarge" rows="3"></textarea>
			</div>
		</div>
	</form>
	<script type='text/javascript'
		src="/spms/static/other/scripts/js/jquery.min.js"></script>
	<script src="/spms/resources/jquery/jquery-migrate-1.1.1.min.js"
		type="text/javascript"></script>
	<script
		src="/spms/resources/jquery-validation/1.11.1/jquery.validate.min.js"
		type="text/javascript"></script>
	<script
		src="/spms/resources/jquery-validation/1.11.1/jquery.validate.method.min.js"
		type="text/javascript"></script>
	<script src="/spms/resources/bootstrap/2.3.1/js/bootstrap.min.js"
		type="text/javascript"></script>
	<!--[if lte IE 6]><link href="/spms/resources/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
	<script src="/spms/resources/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script><![endif]-->
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]> <script src="/spms/resources/common/html5.js"></script><![endif]-->
	<script src="/spms/resources/My97DatePicker/WdatePicker.js"
		type="text/javascript"></script>
	<script src="/spms/resources/common/mustache.min.js"
		type="text/javascript"></script>
	<script src="/spms/resources/list/list.min.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2.js" type="text/javascript"></script>
	<script src="/spms/resources/select2/select2_locale_zh-CN.js"
		type="text/javascript"></script>
	<script src="/spms/resources/x-editable/js/bootstrap-editable.js"
		type="text/javascript"></script>
	<script src="/spms/resources/fancyBox/source/jquery.fancybox.js"
		type="text/javascript"></script>
	<script src="/spms/resources/common/platform.min.js"
		type="text/javascript"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.core.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.datepicker.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.effect-blind.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.widget.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.progressbar.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.mouse.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.button.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.draggable.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.position.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.resizable.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/jquery/ui/jquery.ui.dialog.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common.js"></script>
	<script type="text/javascript"
		src="/spms/static/css/component/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common-dialog.js"></script>
	<script type="text/javascript"
		src="/spms/resources/common/maskLayer/maskLayer.js">
		
	</script>
	<script type="text/javascript"
		src="/spms/static/javascript/component/common/common-table.js">
		
	</script>
	<script type="text/javascript" src="/spms/static/javascript/area/areaForm.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
