@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px; border:0px;} 
body{width:100%; height:auto; font-family:"微软雅黑"; color:#333333; font-size:12px; position:relative;}
ul{list-style:none;}
a{text-decoration:none; color:#333;}
