@charset "utf-8";
/* CSS Document */

.hm_table{
	max-width:100%;
	height:100%;
	border: solid 1px #CACACA;
	margin-top:7px;
	margin-left:7px;
	margin-right:7px;
	margin-bottom:28px;
	}
.hm_table_title{
	height:37px;
	background:url(../../../images/hm_table_titlebg.png) repeat-x;
	position:relative;
	}
.hm_table_title ul li{
	line-height:37px;
	font-size:14px; 
	background:url(../../../images/dot.png) no-repeat 11px;
	text-indent:20px;
	}
.hm_table_title  div{
	position:absolute;
	right:8px;
	top:5px;}
.table_text{
	width:140px;
	height:24px;
	border:solid 1px #b0bcc7;
	border-radius:3px; 
	border-bottom-right-radius:0; 
	border-top-right-radius: 0;
	float:left;
	}
.table_btn{
	width:55px;
	height:26px;
	float:left,
	margin-left:20px
	}
	
	.hm_page{
	max-width:100%;
	padding-left:7px;
	padding-right:16px;
	}
.hm_page p{
	float:left;
	font-size:14px;
	font-family:"微软雅黑";
	}
.hm_page ul{
	float:right;
	}
.hm_page ul li{
	float:left;
	}
.hm_page ul li a{
	display:block;
	padding:7px 14px;
	background:#FFF;
	border:1px solid #dddddd;
	border-radius: 15px;
	color:#428bca;
	}
.hm_table tr td{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hm_table tr td:last-child{

    overflow: auto;
    white-space: normal;
}