@charset "utf-8";
/* CSS Document */

/*title*/
.pop_title{height:30px; background:url(../images/titlebg.png) repeat-x; border-top-left-radius:5px; border-top-right-radius:5px; border:1px solid #3a7ab6; position:relative;}
.title_name{ position:absolute; font-size:14px; color:#fff; left:12px; line-height:30px;}
.close{ position:absolute; right:12px; top:8px;}
/*content*/
.pop_con{ height:100%; background:#eeeeee; padding:0 12px;}
/*top*/
.con_top{height:208px; padding-top:8px; border-bottom:1px solid #D1D1D1;}
.hm_table{
	border: solid 1px #CACACA;
	margin-top:12px;
	}
.hm_table_title{
	height:37px;
	background:url(../images/hm_table_titlebg.png) repeat-x;
	position:relative;
	}
.hm_table_title ul li{
	line-height:37px;
	font-size:14px; 
	background:url(../images/dot.png) no-repeat 11px;
	text-indent:20px;
	color:#333;
	}
.hm_page{
	max-width:100%;
	margin-top:12px;
	}
.hm_page p{
	float:left;
	font-size:14px;
	font-family:"微软雅黑";
	}
.hm_page ul{
	float:right;
	}
.hm_page ul li{
	float:left;
	}
.hm_page ul li a{
	display:block;
	padding:7px 14px;
	background:#FFF;
	border:1px solid #dddddd;
	border-radius: 15px;
	color:#428bca;
	}
/*cen*/
.con_cen{ height:103px; padding-top:8px; border-bottom:1px solid #D1D1D1;}
.cen_text{height:52px; width:100%; background:#fff; border-radius:5px; border:1px solid #c3c3c3; margin-top:10px;}
/*down*/
.con_down{height:192px; padding-top:8px; border-bottom:1px solid #D1D1D1;}
.down_text{width:161px; height:30px; border-radius:5px; border:1px solid #c3c3c3; margin-top:12px;}
.btn_select{display:inline-block;
	padding:6px 12px;
	margin-bottom:0;
	font-size:14px;
	font-weight:normal;
	line-height:1.428571429;
	text-align:center;
	white-space:nowrap;
	vertical-align:middle;
	cursor:pointer;
	border:1px solid #b6b6b6;
	border-radius:4px;
	background:-moz-linear-gradient(top, #f2f2f2,#c5c6c6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2,endColorstr=#c5c6c6,grandientType=1);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#c5c6c6));
	color:#316ead;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
	margin-left:10px;
	}
/*btn*/
.con_btn{ height:44px; padding-top:12px; position:relative;}

.btn_click{display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid #1f65e5;
border-radius: 4px;
background:-moz-linear-gradient(top, #4a8aff,#1f65e5);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4a8aff,endColorstr=#1f65e5,grandientType=1);
background:-webkit-gradient(linear, 0 0, 0 100%, from(#4a8aff), to(#1f65e5));

color: #FFF;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
}